body {
    background-size:100%;
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-image:url(../img/bg2.jpg);
    background-color:#050742;
    font:normal 20px/30px 'Georgia', serif;
}

h1 {
    text-align:center;
}

.w {
    position:absolute;
    top:40px;
    left:40px;
    width:600px;
    background:#070d35;
    box-shadow:
        0 0 5px #e28f6d,
        0 0 15px #e28f6d;
}

/* Mobile Rules
------------------------------------------------------- */
@media all and (max-width: 800px) {
      .w {
          left:0;
          top:0;
          width: 100%;
      }
      .w img, .w iframe {
          max-width:100%;
      }
      .w a.big {
          font-size:30px;
      }
  }

a {
    color:#FFF2CF;
    text-decoration:none;
    background:rgba(255, 255, 255, 0.1);
}

a:hover {
    background:rgba(0, 255, 255, 0.2);
}

blockquote {
    color:#eee;
    padding:10px 20px;
}

a.big {
    text-wrap:none;
    font-size:55px;
    line-height:80px;
    margin-right:10px;
}

a img {
    vertical-align:top;
}

.head {
    text-align:center;
    background:#fefde0;
    padding:10px;
    margin-bottom:20px;
}

.itunes-icon {
    width:80px;
    height:80px;
    opacity:0.2;
}

a:hover .itunes-icon {
    opacity:1;
}

.follow {
    text-align:right;
    font-size:12px;
    background:#fefde0;
    padding-right:10px;
    padding-top:10px;
}

.follow .fb-like {
    margin-left: 10px;
}

.follow a {
    color:#070d35;
    background:#9ee5ff;
    padding:2px;
}

.follow a:hover {
    text-decoration:underline;
}

h3 {
    color:#fff;
    margin:10px 10px;
}

a.photo {
    padding:30px;
    display:inline-block;
}

.alert {
    padding:10px 20px;
    background:#9EE5FF;
    text-align:center;
    -webkit-transition:background 200ms linear;
}

.alert:hover {
    background:#00BBFF;
}

.alert a {
    color:red;
    text-decoration:underline;
    background:none;
}
