body {
    background:#FEDDEE;
    color:#fff;
}

html, body {
    height:100%;
}

h1 {
    font-family: 'Old Standard TT', cursive;
    font-size:20px;
    letter-spacing:15px;
    text-transform:uppercase;
    font-weight:700;
}

h2 {
    font-weight:400;
    font-family: 'Old Standard TT', cursive;
    font-size:80px;
    font-size:8vw;
    color:#fff;
}

h3 {
    font-weight:400;
    font-family: 'Old Standard TT', cursive;
    font-size:40px;
    color:#fff;
}

p {
    font-family: 'Merriweather', serif;
}

a {
    color:#fff;
    text-decoration:underline;
}

a:hover {
    color:#ef4;
}

.underline {
    border-bottom:1px solid #fff;
    padding-bottom:20px;
}

section {
    padding:25px 0;
    background-size:cover;
}

.deer {
    background-image:url(deer.jpg);
}

.kennedy {
    background-image:url(kennedy.jpg);
}

.bass {
    background-image:url(bass.jpg);
}

.practice {
    background-image:url(practice.gif);
}

.tr {
    position:absolute;
    top:10px;
    right:10px;
    text-decoration:none;
}

blockquote {
    margin:0;
    padding:10px 0;
    font-family: 'Merriweather', serif;
    font-style:normal;
}

#c {
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    z-index:-20;
}

.rel {
    position:relative;
}

.black {
    background:#000;
}

.full-height {
    height:100%;
}

.blowout {
    font-size:200px;
    background:#000;
    color:#fff;
    font-weight:bold;
}
