html, body { height: 100%; margin: 0px; padding: 0px; }

body * {
  font-family: 'Noto Serif', serif;
}

@-webkit-keyframes pulsate {
    0% {-webkit-transform: scale(1.0, 1.0);}
    50% {-webkit-transform: scale(1.03, 1.03);}
    100% {-webkit-transform: scale(1.0, 1.0);}
}

.vibe {
  -webkit-animation: pulsate 1s ease-in-out;
  -webkit-animation-iteration-count: infinite;
}

.fill-height {
  min-height:100%;
}

.bg-jumper {
  background-image: url(../img/background-2.jpg);
  background-position: center center;
}

.bg-pattern {
  background-image: url(../img/background-3.jpg);
  background-position: center center;
}

.bg-la-tan {
  background: #FCDAB4;
}

.bg-la-salmon {
  background: #FF916E;
}

.bg-la-yellow {
  background: #FFFD47;
}

a {
  color: #37A5B0;
}
